## Requirements file for INTREPID: Interactive Representation Discovery
## Note that not all algorithms may need all of the packages below.
## If you are unable to install a particular package, then it
## maybe worth trying to comment it below and install the others.

## Requirements without Version Specifiers
scikit-learn
scikit-image
scipy
imageio
tensorboardX
matplotlib
ai2thor
Pillow
vector_quantize_pytorch
tqdm
wandb
lightning

## Requirements with Version Specifiers
torch>=1.8.1
torchvision>=0.9.1
gym-minigrid>=1.0.3
gym>=0.17.3
